<!DOCTYPE html >
<html>
<head>
  <meta charset='UTF-8'/>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.url }}/css/reset.css" />
  <link rel="stylesheet" href="{{ site.url }}/css/960.css" />
  <link rel="stylesheet" href="{{ site.url }}/css/text.css" />
  <link rel="stylesheet" href="{{ site.url }}/css/style.css" />
  <link href='http://fonts.googleapis.com/css?family=Kreon' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="container_12">

	    <div id ="header" class="container_12">
        <div id="name" class="grid_4">
          <h1><a href="/">#Occupy USA</a></h1>
        </div>
      <div id="navigation" class="grid_8">
      <ul>
        <li><a href="submit.html">Submit data</a></li>
        <li><a href="source.html">Source</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    	</div>
	    </div>
    <div id="content">
	    {{ content }}
    </div>

    <div id="footer" class="grid_12">
      <hr />
      <p>Occupy USA - initial build by <a href="https://github.com/kostajh/">Kosta Harlan</a> using open data from the <a href="http://guardian.co.uk">Guardian</a> and the open-source tool <a href="http://www.tilemill.com">TileMill</a>. <strong>We are the 99%!</strong></p>
    </div>

  </div>

</body>
</html>


